.pytest_cache
dist
__pycache__/
*.py[cod]
*.egg-info
MUJOCO_LOG.TXT
;
running_command.txt
*ppo_middle_grid_final.zip
test_observation_raw.png
.venv
.venvPPO/**
.venvPPO
*.DS_Store
.python-version
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
papers_summary/**/*.out
papers_summary/**/*.log
